* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 100%;
    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: 16px;
    padding: 24px 24px;
    box-shadow: 0 20px 35px -10px rgba(0, 0, 0, 0.4);
    position: relative;
}

.title-bar {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
    margin-bottom: 16px;
    white-space: pre-wrap;
    word-break: break-all;
}
.title-text,
.title-bar > h1, .title-bar > h2, .title-bar > h3, .title-bar > h4, .title-bar > h5, .title-bar > h6 {
    flex: 1;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-h);
    text-align: start;
    letter-spacing: 2px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    padding: 24px 8px;
    border-radius: 16px;
}
.info-row:hover {
    background: var(--code-bg);
}
.info-row > * {
    width: 40%;
}
.info-row :not(.info-label) {
    text-align: end;
    align-content: end;

    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 16px;
}

.info-col {
    display: flex;
    flex-direction: column;
    transition: background-color 0.2s ease-in-out;
    padding: 12px 8px;
    gap: 12px;
    border-radius: 16px;
}
.info-col:hover {
    background: var(--code-bg);
}
.info-col > * {
    width: 100%;
}
.info-col:not(.info-label) {
    text-align: start;
    align-content: start;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
}

.action-bar {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}
.info-row ~ .action-bar {
    padding-top: 16px;
}
.info-col ~ .action-bar {
    padding-top: 16px;
}

.with-between-line + .with-between-line {
    border-top: 1px dashed var(--border);
}
.title-bar + .with-between-line, .with-between-line + .action-bar {
    border-top: 1px solid var(--border);
}

.info-label {
    flex: 1;
    text-align: start;
    font-size: 14px;
    font-weight: 500;
    color: var(--text);
    letter-spacing: 1px;
    justify-content: end;
}
.info-label *, .info-value {
    font-size: 15px;
    color: var(--text-h);
    font-weight: 450;
    white-space: wrap;
    word-break: break-all;
}

.info-input {
    background: var(--bg-h);
    border: 1px solid var(--border);
    border-radius: 16px;
    padding: 6px 12px;
    color: var(--text-h);
    font-family: inherit;
    outline: none;
    transition: all 0.2s;
}
.info-input:focus {
    border-color: var(--button-hover-border);
    box-shadow: 0 0 0 2px rgba(124, 98, 120, 0.2);
}

.info-textarea {
    min-height: 50px;
    max-height: 300px;
    padding: 10px 14px;
    border: 1px solid var(--border);
    background: var(--bg-h);
    color: var(--text-h);
    transition: 0.2s;
    border-radius: 16px;
    resize: vertical;
    white-space: pre-wrap;
}
.info-textarea:focus {
    outline: none;
    border-color: var(--button-hover-border);
    box-shadow: 0 0 0 2px rgba(185, 134, 68, 0.2);
}

.common-btn, .submit-btn, .cancel-btn {
    background: var(--button-bg);
    border: 1px solid var(--button-border);
    color: var(--text-h);
    border-radius: 40px;
    padding: 8px 24px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
    font-family: 宋体, serif;
}
.circle-mode {
    height: 32px;
    padding: 0;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-family: monospace;
}

.common-btn:disabled, .submit-btn:disabled, .cancel-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.common-btn:hover:not([disabled]) {
    background: var(--button-hover-bg);
    border-color: var(--button-hover-border);
    transform: translateY(-1px);
}
.common-btn.active {
    background: var(--button-hover-bg);
    border-color: var(--button-hover-border);
}

.submit-btn {
    background: #4c6a4e;
    border-color: #5c7c5e;
}
.submit-btn:hover:not([disabled]) {
    background: #3d563f;
    transform: translateY(-1px);
}
.submit-btn.active {
    background: #3d563f;
}

.cancel-btn {
    background: #6a4c4c;
    border-color: #7c5e5e;
}
.cancel-btn:hover:not([disabled]) {
    background: #563d3d;
    transform: translateY(-1px);
}
.cancel-btn.active {
    background: #563d3d;
}